.question {
  padding: 1.5rem;
  background: var(--color-details);
  border-radius: 8px;
  box-shadow: var(--box-shadow);

  & + .question {
    margin-top: 0.5rem;
  }

  p {
    color: var(--color-black);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 0.5rem;
        color: var(--color-gray-800);
        font-size: 0.875rem;
      }
    }

    button {
      border: 0;
      background: transparent;
      transition: 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--color-gray-800);
        gap: 0.5rem;

        &.liked {
          color: var(--color-purple);

          svg path {
            stroke: var(--color-purple);
          }
        }
      }

      &.trash-question {
        &:hover svg path {
          stroke: var(--color-danger);
        }
      }

      &:hover svg path {
        stroke: var(--color-purple);
      }
    }
  }
}
